@font-face {
    font-family: 'Doto';
    src: url('../fuentes/Doto-VariableFont_ROND,wght.ttf');
}
body{
    font-family: Verdana, sans-serif;
}
h3{
    color:#4c370f;
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.grande{
    font-size: 5rem;
}
.centrar {
    text-align: center;
}
.centrado {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabla-ranking {
    max-width: 700px;
    min-width:500px;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Verdana, sans-serif;
    margin-bottom: 50px;
    text-align: center;
}

.tabla-ranking th {
    background-color: #4c370f;
    color: #f6ffad;
    padding: 10px;
    border: 1px solid #4c370f;
}

.tabla-ranking td {
    background-color: #f6ffad;
    padding: 10px;
    border: 1px solid #4c370f;
    text-align: center;
}

.tabla-ranking tr:hover td {
    background-color: #e8f57a;
}
