@font-face {
    font-family: 'Doto';
    src: url('fuentes/Doto-VariableFont_ROND,wght.ttf');
}
html {
    background-color: #f6ffad;
}
body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
canvas{
	/*border: 2px solid #4c370f;*/
	background-color: #cfdc5d;
	display: block;
	margin:0 auto;
    cursor: none;
}

.barraPuntuacion{
    margin-bottom: 10px;
    width: 700px;
    height: 60px;
    background-color: #4c370f;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 3px;
    padding-top: 3px;
}

#btnAtras {
	position: absolute;
	left: 20px;
	width: 45px;
	height: 45px;
	background-color: #cfdc5d;
	color: #4c370f;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.15s ease;
	box-shadow: 0 4px 0 #2e2107;
	line-height: 1;
}

#btnAtras:hover {
	transform: translateY(2px);
	box-shadow: 0 2px 0 #2e2107;
	background-color: #f6ffad;
}

.barraPuntuacion p{
	color: #cfdc5d;
	font-family: Verdana, sans-serif;
}

.puntuacion{
    text-align: center;
    width: 200px;
    position: relative;
    right: 20px;
}
.barraPuntuacion img{
    width: 16px;
	margin-bottom: 20px;
}

.tiempo {
    position: absolute;
    right: 20px;
    text-align: center;
    width: 200px;
    color: #cfdc5d;
    font-family: Verdana, sans-serif;
}
.reloj{
	margin-bottom: 20px;
}
.vidas{
	color: #cfdc5d;
    font-family: Verdana, sans-serif;
    position: relative;
    right: 80px;

}

.puntos{
	color: #cfdc5d;
    font-family: Verdana, sans-serif;
    margin-bottom: 20px;
}

#hasPerdido {
    background-color: #cfdc5d;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80vw;         /* ocupa gran parte del ancho de la pantalla */
    max-width: 800px;    /* máximo ancho */
    padding: 40px 20px;
    display: none;
    flex-direction: column;  /* apilar contenido verticalmente */
    align-items: center;     /* centrar horizontal */
    justify-content: center; /* centrar vertical dentro del cuadro */
    text-align: center;
    max-width: 700px;
    min-height: 500px;
    color:#4c370f;
    font-family: Verdana, sans-serif;
    font-size: 0.9rem;
}

#hasPerdido h2 {
    color: #4c370f;
    font-family: Verdana, sans-serif;
    font-size: 3rem;   
    margin-bottom: 50px;
}

img.salir {
    position: absolute;
    z-index: 3;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: auto;
}

#hasPerdido .botones {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;     /* centrar horizontal */
    justify-content: center; /* centrar vertical dentro del cuadro */
    text-align: center;

}

#hasPerdido .botones button {
    padding: 20px 60px;
    max-width: 300px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    font-family: Verdana, sans-serif;
    transition: transform 0.2s, background 0.2s;
    border:1px solid #4c370f;
}
#skull {
    height: 60px;
    margin-bottom: 50px;
}

#reiniciarBtn {
    background: #f6ffad;
    color: #4c370f;
}

#volverBtn {
    background: #f6ffad;
    color: #4c370f;
}

#hasPerdido .botones button:hover {
    transform: scale(1.05);
}


#hasGanado {
    background-color: #cfdc5d;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80vw;         /* ocupa gran parte del ancho de la pantalla */
    max-width: 800px;    /* máximo ancho */
    padding: 40px 20px;
    display: none;
    flex-direction: column;  /* apilar contenido verticalmente */
    align-items: center;     /* centrar horizontal */
    justify-content: center; /* centrar vertical dentro del cuadro */
    text-align: center;
    max-width: 700px;
    min-height: 500px;
    color:#4c370f;
    font-family: Verdana, sans-serif;
    font-size: 0.9rem;
}
#trofeo {
    height: 50px;
    margin-bottom: 35px;
}

#hasGanado h2 {
    color: #4c370f;
    font-family: Verdana, sans-serif;
    font-size: 3rem;   
    margin-bottom: 50px;
}

#hasGanado .botones {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#hasGanado .botones button {
    padding: 20px 60px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    font-family: Verdana, sans-serif;
    transition: transform 0.2s, background 0.2s;
    border:1px solid #4c370f;
}

#reiniciarBtnGanado {
    background: #f6ffad;
    color: #4c370f;
}

#volverBtnGanado {
    background: #f6ffad;
    color: #4c370f;
}

#hasGanado .botones button:hover {
    transform: scale(1.05);
}
