@font-face {
    font-family: 'Doto';
    src: url('fuentes/Doto-VariableFont_ROND,wght.ttf');
}

label {
    color:#4c370f;
    font-family: Verdana, sans-serif;
    font-size: 0.9rem;
}
input{
    height: 25px;
    width: 100%;
    margin-top: 3px;
    background-color:#f6ffad;
    border: #4c370f 1px solid;
    border-radius: #4c370f 10px solid;
    font-family: Verdana, sans-serif;
    transition: 0.2s;
}
.campo {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:5px;
    width: 100%;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#login button {
    margin-top: 5px;
}
