.tabla-ranking {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Verdana, sans-serif;
}

.tabla-ranking th {
    background-color: #4c370f;
    color: white;
    padding: 10px;
    border: 1px solid #4c370f;
}

.tabla-ranking td {
    background-color: #f6ffad;
    padding: 10px;
    border: 1px solid #4c370f;
    text-align: center;
}

.tabla-ranking tr:hover td {
    background-color: #e8f57a;
}
