@font-face {
    font-family: 'Doto';
    src: url('fuentes/Doto-VariableFont_ROND,wght.ttf');
}

html {
    background-color: #f6ffad;
}
h2{
    color:#4c370f;
    font-family: Verdana, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 30px;    
}
p {
    color:#4c370f;
    font-family: Verdana, sans-serif;
    font-size: 0.9rem;
}

p#logo {
    font-family: "Doto", sans-serif;
    font-size: 3rem;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-variation-settings: "ROND" 0;
    color: #4c370f;
    padding: 0%;
    margin: 40px;
}
img#iconoUsuario {
    width: 100px;
    height: auto;
    display: block;
    margin: 0%;
    padding: 0%;
    position: absolute;
    z-index: 0;
    padding-top: 20px;
    /*border: 2px solid black;*/
}

#usuario p {
    position: relative;
    z-index: 1;
    padding-top: 140px;
    padding-left: 10px;
    padding-right: 10px;
    /*border: 2px solid black;*/
}
div#usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    /*border: 2px solid black;*/
}
div#usuario:hover {
    background-color: #cfdc5d;
    transform: scale(1.05);
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#submenu {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    column-gap: 20px;
}
#introUsuario{
    background-color: #cfdc5d;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 80px;
    aspect-ratio: 1/1;
    max-width: 350px;
    text-align: center;
    align-content: center;
    aspect-ratio: 1/1;
    display: none;
}
#comoJugar {
    background-color: #cfdc5d;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 80px;
    aspect-ratio: 1/1;
    max-width: 350px;
    align-content: center;
    display: none;
}
#leyendaBloques {
    background-color: #cfdc5d;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 80px;
    aspect-ratio: 1/1;
    max-width: 350px;
    align-content: center;
    display: none;
}
#leyendaBloques img{
    width: 20px;
    height: auto;
}
#leyendaBloques div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px; 
}
img.salir {
    position: absolute;
    z-index: 3;
    top: 30px;
    right: 30px;
    cursor: pointer;
    width: 20px;
    height: auto;}

.boton {
    color: #4c370f;
    background-color: #f6ffad;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 1rem;
    border: #4c370f 1px solid;
    border-radius: #4c370f 10px solid;
    font-family: Verdana, sans-serif;
    transition: 0.2s;
} 

.boton:hover {
    background-color: #cfdc5d;
    transform: scale(1.05); }

.btnVentana {
    color: #4c370f;
    background-color: #cfdc5d;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 1rem;
    border: #4c370f 1px solid;
    border-radius: #4c370f 10px solid;
    font-family: Verdana, sans-serif;
    transition: 0.2s; 
}

.btnVentana:hover {
    background-color: #f6ffad;
    transform: scale(1.05); }

/* Para que funcione el footer deslizante*/
footer {
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: #4c370f;
    padding: 10px 0;
    overflow: hidden; /* Oculta el texto cuando sale por los lados */ 
} 

/* Contenedor del texto que se mueve */ 
.ticker { 
    white-space: nowrap; /* Evita saltos de línea */ 
    display: inline-block; 
    padding-left: 100%; /* Empieza fuera de la pantalla por la derecha */ 
    animation: mover 30s linear infinite; /* Animación continua */ 
    color: #f6ffad;
    font-family: "Doto", sans-serif;
    font-size: 1.5rem;
}
 /* Animación que desplaza el texto de derecha a izquierda */ 
 @keyframes mover { 
    0% { transform: translateX(0); } /* Inicio: posición normal */ 
    100% { transform: translateX(-100%); } /* Final: sale por la izquierda */ 
}

/* ✅ CARRUSEL */
.niveles {
    margin-top: 40px;
    text-align: center;
}

.carrusel-niveles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.lista-niveles {
    width: 1000px;
    height: 580px;
    position: relative;
    overflow: hidden;
    /*border: 2px solid black;*/
}

.nivel {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    transition: all 0.5s ease;
}


/* Nivel activo */
.nivel.activo {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    animation: retroceso 0.3s ease;

}

/* Imagen de nivel */
.nivel img {
    width: 3000px;
    max-height: 100%;
    object-fit: contain;
    border-radius: 20px;
    border: 3px solid #cfdc5d;
}

.nivel-1 img { max-width: 100%; }
.nivel-2 img { max-width: 50%; }
.nivel-3 img { max-width: 65%; }
.nivel-4 img { max-width: 66%; }
.nivel-5 img { max-width: 85%; }

/* Nombre */
.nombre {
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
    font-family: "Doto", sans-serif;
}
.puntos{
    display: flex;
    justify-content: center;
    gap: 8px;
    /*border: 2px solid black;*/
    /*background: red;*/
}
.punto {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4c370f;
    cursor: pointer;
}


.punto.active {
    background: #cfdc5d;
}

.titulonivel{
    font-family: "Doto", sans-serif;
}
/* Animación “retroceso” */
@keyframes retroceso {
    0% { transform: translate(-50%, -50%) scale(0.9); }
    50% { transform: translate(-50%, -50%) scale(0.95); }
    100% { transform: translate(-50%, -50%) scale(1); }
}
